NODE_ENV=development

MONGO_URI=""
JWT_ACCESS_SECRET=strong_access_secret_here
JWT_REFRESH_SECRET=strong_refresh_secret_here
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=crypto.email.rph@gmail.com
EMAIL_PASS=
EMAIL_FROM=noreply@photogallery.com
EMAIL_FROM_NAME=Hackence Team


NEXT_PUBLIC_APP_URL=http://localhost:3000
